body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}
.logo{
    width: 20%;
    height: auto;
}
.left-section {
    flex: 1;
    max-width: 500px;
}

.left-section h1 {
    font-size: 48px;
    color: yellow;
    margin: 20px 0 10px;
}

.left-section p {
    font-size: 20px;
    margin: 5px 0;
}

.apply-btn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-section {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

.row {
    display: flex;
    gap: 10px;
}

.row input {
    flex: 1;
}

.checkbox {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: gold;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: #ffd700;
    text-decoration: none;
}
